@mixin defaultBody {
  font-family: "Open Sans";
  line-height: 24px;
  font-weight: 400;
}
@mixin flexibleContainer {
  display: flex;
  align-items: flex-start;
  float: left;
  position: relative;
}
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
header {
  top: 0px;
  width: 100%;
  height: 10%;
  left: 0;
  position: fixed;
  z-index: 999;
  float: left;
  display: block;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.main-menu {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  z-index: 900;
  background-color: #202020;
  margin-top: 0;
  box-sizing: border-box;
  line-height: 24px;
  > li.menu-item {
    display: block;
    list-style: none;
    float: left;
  }
  > li > a {
    color: #ffff;
    padding: 28px 10px;
  }
  li a {
    display: block;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 400;
    font-size: 15px;
    position: relative;

    letter-spacing: 1px;
    &:hover {
      color: #d19f68;
      &::after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      width: 0px;
      height: 1px;
      display: block;
      background: #d19f68;
      transition: 300ms;
    }
  }
}
body {
  @include defaultBody();
  color: #555555;
  font-size: 15px;
  opacity: 1;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
  margin: 0;
}

a {
  background-color: transparent;
}
nav {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.header-center {
  background-color: #202020;
}

.header-logo-container {
  width: 13%;
  display: inline-block;
}
.header-logo {
  margin: 0 15px;
  padding-top: 5px;
  display: block;
}
a:any-link {
  cursor: pointer;
  text-decoration: none;
}
body {
  .backimg-container {
    z-index: 0;
    width: 100%;
    height: 20em;
    visibility: inherit;
    > .backimg {
      background-repeat: no-repeat;
      background-image: url(../images/background-second.jpeg);
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: inherit;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        font-size: 32px;
        font-family: "Oswald";
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 0;
        + p {
          color: white;
          font-size: 16px;
          font-family: "Oswald";
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0.8em;
        }
      }
    }
  }
}
.service-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 2vw 0;
  .button-container {
    .button {
      text-transform: uppercase;
      background-color: #d19f68;
      color: #202020;
      font-size: 14px;
      font-family: "Oswald";
      padding: 0.8em 4em;
      transition: 300ms;
      &:hover {
        background-color: #202020;
        color: #d19f68;
        cursor: pointer;
      }
    }
  }
  .service-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .service {
      width: 30em;
      @media screen and(max-width: 420px) {
        max-width: 300px;
      }

      ul {
        list-style: none;
        padding: 1vw;

        li {
          font-family: "Oswald";
          font-size: 19px;
          margin-bottom: 24px;
          position: relative;
          text-transform: uppercase;
          overflow: hidden;
          color: #202020;
          @media screen and(max-width:420px) {
            max-width: 300px;
            padding-left: 15px;
            font-size: 17px;
          }
          .left-name {
            position: relative;
            text-transform: uppercase;
            float: left;
            &::before {
              border-top: 2px dotted #010101;
              bottom: 4px;
              content: "";
              left: 100%;
              min-width: 200vh;
              position: absolute;
              @media screen and(max-width:420px) {
              }
            }
          }
          .right-price {
            float: right;
            display: block;
            position: relative;
            overflow: hidden;
            background: #fff none repeat scroll 0 0;
            color: #d19f68;
          }
        }
      }
    }
  }
}
footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-image: url(../images/bg-footer.jpeg);

  .footer-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    @media screen and (max-width: 320px) {
      flex-direction: column;
    }
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .footer-block {
      width: 100%;
      display: flex;

      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      margin: 5vw 3vw 5vw 8vw;
      padding-left: 2vw;
      @media screen and (max-width: 320px) {
        margin: 0;
        padding: 2vw;
      }
      @media screen and (max-width: 900px) {
        margin: 0;
        padding: 2vw;
      }
      .second-footer-list {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        li {
          width: 100%;
          text-align: right;
          font-size: 19px;
          border-bottom: 3px dotted;
          padding: 1vw 0;

          &:last-child {
            border: 0;
          }
          > span {
            float: left;
          }
        }
      }
      .footer-text {
        font-size: 19px;
        font-weight: 500;
        font-style: italic;
      }
      .footer-list {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          font-size: 19px;
          padding-bottom: 1vw;
          a {
            color: #555555;
            &:hover {
              text-decoration: underline;
            }
          }
          .thin-icon-map-marker {
            &::before {
              content: "\e809";
              color: #d19f68;
            }
          }
          .thin-icon-email {
            &::before {
              content: "\e81f";
              color: #d19f68;
            }
          }
          .thin-icon-phone-call {
            &::before {
              content: "\e817";
              color: #d19f68;
            }
          }
        }
      }
      .footer-header {
        font-family: "Oswald";
        color: #ffff;
        font-size: 20px;
        margin: 0;
        text-align: center;
      }
    }
  }
}
.header-burger {
  display: none;
}
@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    top: 13px;
  }
  .header-burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .main-menu {
    display: block;
    text-align: left;
    height: 50px;
    li.menu-item {
      float: none;
      display: none;

      &:first-child {
        padding: 40px 0 0 0;
      }
      .header-logo {
        display: none;
      }
    }
  }

  .main-navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #202020;
    transition: all 0.3s ease 0s;
  }
  .main-navigation.active {
    left: 0;
    width: 100%;
    .main-menu {
      li.menu-item {
        display: block;
      }
    }
  }
  .header-center {
    height: 40px;
  }

  .header-burger::after,
  .header-burger::before {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header-burger::after {
    top: 0;
  }
  .header-burger::before {
    bottom: 0;
  }
  .header-burger.active::before {
    transform: rotate(45deg);
    bottom: 9px;
  }
  .header-burger.active::after {
    transform: rotate(135deg);
    top: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: #fff;
    overflow: auto;
    cursor: default;
  }
}
.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: #efefef;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}
.close-modal {
  float: right;
  border-color: #fff;
  cursor: pointer;
}

.modal p + p {
  margin-top: 1rem;
}
.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 29px 0 10px;
  input {
    height: 50px;
    width: 100%;
    color: #555;
    padding: 10px 22px;
    font-size: 14px;
    border: 1px solid #ebebeb;
  }
  textarea {
    height: 130px;
    width: 100%;
    color: #555;
    padding: 10px 22px;
    font-size: 14px;
    border: 1px solid #ebebeb;
  }
  .input-text-wrapper {
    display: block;
    width: 100%;
  }
  .submit-button {
    width: 100%;
    background-color: #d19f68;
    color: #202020;
    font-family: "Oswald";
    font-size: 16px;
    cursor: pointer;
  }
}
.modal-footer {
  height: 60px;
}
