@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

header {
  top: 0px;
  width: 100%;
  height: 25%;
  left: 0;
  position: fixed;
  z-index: 999;
  float: left;
  display: block;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-menu {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  z-index: 900;
  background-color: #202020;
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24px;
}

.main-menu > li.menu-item {
  display: inline-block;
  list-style: none;
}

.main-menu > li > a {
  color: #ffff;
  padding: 28px 10px;
}

.main-menu li a {
  display: block;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  letter-spacing: 1px;
}

body {
  font-family: "Open Sans";
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  font-size: 15px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
  margin: 0;
}

a {
  background-color: transparent;
}

nav {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.header-center {
  background-color: #202020;
}

#site-navigation ul {
  display: inline-block;
}

#site-navigation li {
  float: left;
}

.header-logo-container {
  width: 13%;
  display: inline-block;
}

.header-logo {
  margin: 0 15px;
  padding-top: 5px;
  display: block;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

a:-moz-any-link {
  cursor: pointer;
  text-decoration: none;
}

a:any-link {
  cursor: pointer;
  text-decoration: none;
}

body .backimg-container {
  z-index: 0;
  width: 100%;
  height: 20em;
  visibility: inherit;
}

body .backimg-container > .backimg {
  background-repeat: no-repeat;
  background-image: url(../images/background-second.jpeg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .backimg-container > .backimg p {
  color: white;
  font-size: 32px;
  font-family: "Oswald";
  font-weight: 400;
  margin-left: 0;
  margin-bottom: 0;
}

body .backimg-container > .backimg p + p {
  color: white;
  font-size: 16px;
  font-family: "Oswald";
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.8em;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5vh 0;
}

.news-container .slider-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-container .slider-container .slider {
  max-width: 300px;
  position: relative;
  height: 300px;
}

.news-container .slider-container .slider .previous,
.news-container .slider-container .slider .next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /* Оформление самих кнопок: */
  color: white;
  font-weight: bold;
  font-size: 16px;
  /* Плавное появление фона при наведении курсора: */
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.news-container .slider-container .slider .previous:hover,
.news-container .slider-container .slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.news-container .slider-container .slider .next {
  right: 0;
}

.news-container .slider-container .slider div {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.news-container .slider-container .slider div img {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

/* Слайдер: */
@-webkit-keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=NewsStyle.css.map */